.auth-app-rect {
    background-color: var(--navyColor);
    width: 100%;
    height: auto;
}
.auth-app-main {
    margin: auto;
    max-width: 1600px;
}
.auth-app-user-img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 768px) {
    .auth-app-rect {
        background-color: var(--navyColor);
        background-image: none;
        width: 100%;
        height: auto; /* You must set a specified height */
    }
    .auth-app-back-img {
        width: 300px;
        height: auto;
    }
    .auth-app-user-img {
        width: 100%;
        height: auto;
    }
}