.join-rect {
    background-color: var(--navyColor);
    background-image: url('../../../assets/png/join_back.png');
    width: 100%;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.join-main {
    margin: auto;
    max-width: 1600px;
}
.join-user-img {
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 768px) {
    .join-rect {
        background-color: var(--navyColor);
        background-image: none;
        width: 100%;
        height: auto; /* You must set a specified height */
    }
    .join-back-img {
        width: 300px;
        height: auto;
    }
    .join-user-img {
        width: 200px;
        height: auto;
    }
}