.otp-section {
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--whiteColor);
}
.activation-code-input {
    text-align: center;
    margin-top: 30px;
}
.activation-code-input input {
    width: 44px !important;
    height: 44px !important;
    font-family: regularFont !important;
    padding: 10px;
    margin: 10px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 6px !important;
    font-size: 14px !important;
    text-align: center !important;
}
.activation-code-input input:focus-visible {
    outline: none;
    border-color: var(--mainColor) !important;
    transition: all 0.3s;
}
.otp-txt {
    color: var(--blackColor);
    text-decoration: underline;
}
.otp-txt:hover {
    color: var(--mainColor);
    text-decoration: underline;
    opacity: 0.8;
}
.signup-txt {
    color: var(--mainColor);
}
.signup-txt:hover {
    color: var(--mainColor);
    opacity: 0.8;
}
.otp-input-rect {
    width: 400px;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .otp-input-rect {
        width: 320px;
        margin: auto;
    }
    .activation-code-input input {
        width: 40px !important;
        height: 40px !important;
        margin: 4px !important;
    }
}