.legal-slide {
    padding-top: 120px;
    background-image: url('../../../assets/png/slide-back.png');
    height: auto; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover;
}
.legal-img-rect {
    text-align: center;
}
.legal-img {
    width: 65%;
    min-width: 500px;
    height: auto;
}
.legal-text-rect {
    margin-top: 100px;
    padding: 10px 60px;
}

@media screen and (max-width: 768px) {

    .legal-img {
        width: 65%;
        min-width: 300px;
        height: auto;
    }
    .legal-text-rect {
        margin-top: 10px;
        padding: 10px 30px;
    }
    
    .legal-img-rect {
        padding: 0px;
    }
}