.advertise-slide {
    padding-top: 120px;
    background-image: url('../../../assets/png/slide-back.png');
    height: auto; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: cover;
}

.advertise-img-rect {
    text-align: center;
}
.advertise-img {
    width: 68%;
    min-width: 503px;
    height: auto;
}
.advertise-text-rect {
    margin-top: 100px;
    padding: 10px 60px;
}
.advertise-detail-text-rect {
    text-align: center;
    margin-top: 100px;
    padding: 10px 60px;
    height: 400px;
}

@media screen and (max-width: 768px) {

    .advertise-img {
        width: 65%;
        min-width: 300px;
        height: auto;
    }
    .advertise-text-rect {
        margin-top: 10px;
        padding: 10px 30px;
    }
    .advertise-detail-text-rect {
        margin-top: 10px;
        padding: 25px 30px;
        height: 230px;
    }
    .advertise-img-rect {
        padding: 0px;
    }
}