.legal-brand {
    padding: 50px;
    max-width: 1600px;
    margin: auto;
}
.legal-blue-rect {
    width: 300px;
    background-color: var(--navyColor);
    border-radius: 4px;
    padding: 40px 50px;
    font-size: 18px;
    color: var(--whiteColor);
    text-align: center;
}
.legal-term-rect {
    max-width: 1200px;
    text-align: center;
    margin: auto;
}
@media screen and (max-width: 768px) {

    .legal-blue-rect {
        width: 280px;
        border-radius: 4px;
        padding: 40px 50px;
        font-size: 16px;
    }
}