.login-section {
    padding-top: 150px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--whiteColor);
}
.forgot-txt {
    color: var(--mainColor);
    text-decoration: underline;
}
.forgot-txt:hover {
    color: var(--mainColor);
    text-decoration: underline;
    opacity: 0.8;
}
.signup-txt {
    color: var(--mainColor);
}
.signup-txt:hover {
    color: var(--mainColor);
    opacity: 0.8;
}
.login-input-rect {
    width: 400px;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .login-input-rect {
        width: 320px;
        margin: auto;
    }
}